@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

$color:#06BF7C;
$backLeft:#01568C;
$backRight:#046F8C;
$headerFooter:#046F8C;
$main:#048C80;
$light:whitesmoke;
$null:0;
$fullVH:100vh;
$fullVW:100vw;
$fullVHPer:100%;
$fullVWPer:100%;
$pad:5vw;
$hide:hidden;
$small:small;

@mixin _DisplayG($display,$co,$row,$areas){
    display:$display;
    grid-template-columns:$co;
    grid-template-rows:$row;
    grid-template-areas:$areas;
}
@mixin _DisplayF($display,$direc,$content,$align){
    display:$display;
    flex-direction:$direc;
    justify-content:$content;
    align-items:$align;
}
@mixin _area($a){
    grid-area:$a;
}
%_tglitch{
    text-shadow:0px 0px 5px black;
}
%_space{
    letter-spacing:3px;
}
%pane{
    border:solid 1px $light;
    box-shadow:0px 0px 5px $light;
}
@mixin f_size($size){
    font-size:$size;
}

*{
    margin:$null;
    font-family: 'Passion One', cursive;
}
body{
    margin:$null;
    font-family: 'Passion One', cursive;
    background:linear-gradient(63deg, $backLeft 45%, $backRight 55%)no-repeat;
    color:$light;
    height:$fullVH;
    width:$fullVW;
    overflow:$hide;

    @include _DisplayF(flex,column,center,center);

        .container{
            width:$fullVW;
            padding:1vh;
            @extend %pane;
            
            height:90%;
            
            @include _DisplayG( grid, 
                                1fr, 
                                28% 60% 8%, 
                                'header header'
                                'main main'
                                'footer footer'
                                );

                header{
                    @include _area(header);
                    @include f_size(8vh);
                    @extend %_tglitch;
                    @extend %_space;
                    @extend %pane;
                    background-color:$headerFooter;
                    height:$fullVHPer;
                    width:$fullVWPer;
                    padding:$pad;
                    @include _DisplayF(flex,row,flex-start,start);
                }
                main{
                    @include _area(main);
                    @include f_size(5vh);
                    @extend %_tglitch;
                    @extend %_space;
                    @extend %pane;
                    height:$fullVHPer;
                    width:$fullVWPer;
                    @include _DisplayF(flex,column,center,center);
                    
                    overflow:$hide;
                    padding:10px;

                    #card, #errorcard{
                        width:80%;
                        text-shadow:0px 0px 0px ;
                    }

                }
                footer{
                    @include _area(footer);
                    @include f_size($small);
                    @extend %pane;
                    background-color:$headerFooter;
                    height:$fullVHPer;
                    width:$fullVWPer;
                    @include _DisplayF(flex,row,flex-end,end);
                    
                    letter-spacing:1px;
                    color:black;
                    text-shadow:0px 0px 5px white;
                    padding:5px;

                    @media screen and(max-device-width:1023px) {
                        @include f_size(x-small);
                    }
                }



        }
}
