@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
* {
  margin: 0;
  font-family: 'Passion One', cursive; }

body {
  background: linear-gradient(63deg, #01568C 45%, #046F8C 55%) no-repeat;
  color: #06BF7C;
  height: 100vh;
  width: 100vw; }
  body .container {
    height: 100vh;
    width: 100vw; }
    body .container header {
      grid-area: header; }
    body .container main {
      grid-area: main; }
    body .container footer {
      grid-area: footer; }
    body .container strong {
      font-size: xx-large; }
